<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') %>
</head>

<body class="indexBody">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <img alt="Brand" src="https://yt3.ggpht.com/-cHMg7kQlNLo/AAAAAAAAAAI/AAAAAAAAAAA/2VoLKNYYLKM/s100-c-k-no-mo-rj-c0xffffff/photo.jpg">
      </a>
      </div>
      <h1>KILLBASE</h1>
    </div>
  </nav>

  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col col-sm-4">

      </div>
      <div class="col col-sm-4">

      </div>
      <div class="col col-sm-4">

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-sm-4">
        <a href="assassins"><h2><center>ASSASSINS</center></h2></a>
      </div>

      <div class="col col-sm-4">

      </div>

      <div class="col col-sm-4">
        <a href="contracts"><h2>CONTRACTS</h2></a>
      </div>

    </div>

    <div class="row">
      <div class="col col-sm-12">
        <div class="imgContainer">
          <img src="http://images.all-free-download.com/images/graphiclarge/james_bond_secret_agent_007_black_amp_white_silo_120175.jpg" alt="Assassin">
        </div>
      </div>
    </div>
  </div>



  <%- include('./partials/scripts') %>
</body>

</html>
