<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') %>
</head>

<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="https://yt3.ggpht.com/-YkJAyrtS4YI/AAAAAAAAAAI/AAAAAAAAAAA/7W7YcQzY5bc/s100-c-k-no-mo-rj-c0xffffff/photo.jpg">
      </a>
    </div>
    <h1>KILLBASE</h1>
  </div>
</nav>

  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col col-sm-4">

      </div>
      <div class="col col-sm-4">

      </div>
      <div class="col col-sm-4">

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-sm-4">


        <div>
        <a href="assassins">ASSASSINS</a>
        </div>


      </div>
      <div class="col col-sm-4">
      </div>
      <div class="col col-sm-4">

        <div>
        <a href="contracts">CONTRACTS</a>
        </div>
      </div>
    </div>
  </div>



  <%- include('./partials/scripts') %>
</body>

</html>
