<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') %>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <img alt="Brand" src="https://yt3.ggpht.com/-YkJAyrtS4YI/AAAAAAAAAAI/AAAAAAAAAAA/7W7YcQzY5bc/s100-c-k-no-mo-rj-c0xffffff/photo.jpg">
      </a>
      </div>
      <h1>KILLBASE</h1>
    </div>
  </nav>

  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col col-sm-4">

      </div>
      <div class="col col-sm-4">

      </div>
      <div class="col col-sm-4">

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-sm-4">
        <a href="assassins"><h2>ASSASSINS</h2></a>
      </div>

      <div class="col col-sm-4">

      </div>

      <div class="col col-sm-4">
        <a href="contracts"><h2>CONTRACTS</h2></a>
      </div>

    </div>

    <div class="row">
      <div class="col col-sm-12">
        <div class="imgContainer">
          <img src="https://i.kinja-img.com/gawker-media/image/upload/s--uxzj3gGd--/c_scale,fl_progressive,q_80,w_800/18j2rw06im73njpg.jpg" alt="Assassin">
        </div>
      </div>
    </div>
  </div>



  <%- include('./partials/scripts') %>
</body>

</html>
