


.indexBody{
  background:white;
}

.imgContainer{
  text-align: center;
  margin: auto;

}

.ass {
  margin-bottom: 2%; padding:1%; border-style:solid;
}

.con {
  margin-bottom: 2%; padding:1%; border-style:solid;
}

.activeCon{
  margin-bottom: 2%; padding:1%; border-style:solid;
}

.assCon{
  margin-bottom: 2%; padding:1%; border-style:solid;
}


.newForm{
  margin-bottom: 2%; padding:1%; border-style:solid;
}

.updateForm{
    margin-bottom: 2%; padding:1%; border-style:solid;
}
